
.shadowMateria{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .materiabody{
    background-color: #E2E8A3;
    margin-left:50vh;
    margin-right:50vh;
    margin-top: 30px;
    padding:2vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newMateria{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botonAgregar{
    background-color:#FDE020;
    width: 50vh;
    height: 8vh;
    font-size: 4vh;
    border-radius: 48px;
    border:none;
  }
