
.shadowMateria{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .materiabody{
    background-color: lightblue;
    margin-left:400px;
    margin-right:400px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }