
.newCursoForm{
  background-color: #E2E8A3;
  margin-left:55vh;
  margin-right:55vh;
  margin-top: 30px;
  padding: 3vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alinearX{
  position: relative;
  justify-content: right;
}

.InputsAgregar{
  margin-bottom: 2.5vh;
  border: none;
  background-color: #F9FEBD;
  border-radius: 30px;
  width: 40vh;
  height: 3vh;
}

.botonesAgregar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2vh;
}

.botonCancelar {
  background-color:#FDE020;
  width: 25vh;
  height: 4vh;
  font-size: 2vh;
  border-radius: 48px;
  border:none;
}

.botonGuardar {
  background-color:#FDE020;
  width: 25vh;
  height: 4vh;
  font-size: 2vh;
  border-radius: 48px;
  border:none;
}

.labelsAgregar{
  font-size: 3vh;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}









