body{
    margin: 0;
}

.iniciobutton {
    background-color: #4CAF50; /* Green */
    border: 15px 15px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 2vh;
    display: block;
    border-radius: 20px;
    width: 80%;
}
.inicioespacio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iniciobody {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    padding: 150px;
    box-sizing: border-box;
}

.texto {
    color: white;
}