.navcontenedor{
  background: #ffb17c;
  font-size: 35px;
  padding: 3vh;
  padding-left: 50vh;
}

.activo{
  color: red;
  text-decoration: underline;
  display: inline;
  margin-right: 100px;
}

.desactivo{
text-decoration: none;
display: inline;
margin-right: 100px;
}

