.navcontenedor{
  background: #ffb17c;
  font-size: 35px;
  padding: 3vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.activo{
  color: red;
  text-decoration: underline;
  display: inline;
  margin-right: 6vh;
}

.desactivo{
text-decoration: none;
display: inline;
margin-right: 6vh;
}

