
.error {
  color: red;
}

.formulario{
  background-color: lightblue;
  margin-left:400px;
  margin-right:400px;
  margin-top: 30px;
  border-radius: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  display: flex;
  clear: both;
  content: "";
  display: table;
}

.status {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.izq {
  background: #fff;
  border: 1px solid #999;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  height: 51px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.izq:focus {
  outline: none;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  height: 51px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}
.square:hover {
  background-color: gray;
}
.dia {
  background: #ffffff;
  border: 1px solid #999;
  float: right;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  justify-content: center;
}

.numero{
  height: 15px;
  margin: 0;
}

.hora {
  font-size: 6.5px;
  font-weight: bold;
  text-align: center;
}

.click {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

